# [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/version/1.0.0/getting_started/10min.html)

In [ ]:
import numpy as np
import pandas as pd

# Object creation

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

* (참고) 난수 생성시 
    * `rand` : 0부처 1사이의 균일 분포
    * `randn` : 기댓값이 0이고 표준편차가 1인 가우시안 표준 정규 분포를 따르는 난수
    * `randint` : 균일 분포의 정수 난수

In [ ]:
np.random.rand(10)

In [ ]:
np.random.rand(3, 5)

In [ ]:
np.random.randn(10)

In [ ]:
np.random.randn(3, 5)

In [ ]:
np.random.randint(10, size=10)

In [ ]:
np.random.randint(10, 20, size=10)

In [ ]:
np.random.randint(10, 20, size=(3, 5))

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

In [ ]:
df2.dtypes

In [ ]:
df2.A

# Viewing data

In [ ]:
df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
print(pd.__version__)

* (여기서 잠깐) 만약 pandas 버전이 0.24.0 보다 낮다면 pandas 를 업데이트 해주자
    * Anaconda command prompt : `conda update pandas`
    * Python3 : `pip3 install --upgrade pandas`

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by='B')

# Selection

In [ ]:
df['A']

In [ ]:
df[0:3]

In [ ]:
df['20130102':'20130104']

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,['A', 'B']]

In [ ]:
df.loc['20130102':'20130104',['A','B']] # Both endpoints are included

In [ ]:
df.loc['20130102', ['A', 'B']]

In [ ]:
df.loc[dates[0], 'A']

In [ ]:
df.at[dates[0], 'A'] # fast access to a scalar

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

In [ ]:
df.iloc[1:3,:]

In [ ]:
df.iloc[:, 1:3]

In [ ]:
df.iloc[1, 1]

In [ ]:
df.iat[1, 1] # fast access to a scalar

In [ ]:
df['A'] > 0

In [ ]:
df[df['A'] > 0]

In [ ]:
df > 0

In [ ]:
df[df > 0]

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

In [ ]:
df2['E'].isin(['two', 'four'])

In [ ]:
df2[df2['E'].isin(['two', 'four'])]

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F'] = s1
df

In [ ]:
df.at[dates[0], 'A'] = 0
df

In [ ]:
df.iat[0, 1] = 0
df

In [ ]:
df.loc[:, 'D'] = np.array([5]*len(df))
df

In [ ]:
df2 = df.copy()
df2 > 0

In [ ]:
df2[df2 > 0] = -df2
df2

# Missing data

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
# type(df.columns)
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

In [ ]:
df1.dropna(how='any') # Drop any rows that have missing data

In [ ]:
df1.fillna(value=5) # Filling missing data

In [ ]:
pd.isna(df1)

# Operations

In [ ]:
df.mean() # exclude missing data

In [ ]:
df.mean(1) # row axis

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2) # automatically broadcasts
s

In [ ]:
df.sub(s, axis='index')

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

# Merge

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
pd.concat(pieces)

In [ ]:
left = pd.DataFrame({'key':['foo','foo'], 'lval':[1, 2]})
left

In [ ]:
right = pd.DataFrame({'key':['foo','foo'],'rval':[4, 5]})
right

In [ ]:
pd.merge(left, right, on='key') # SQL style merges

In [ ]:
left = pd.DataFrame({'key':['foo','bar'],'lval':[1, 2]})
left

In [ ]:
right = pd.DataFrame({'key':['foo','bar'],'rval':[4, 5]})
right

In [ ]:
pd.merge(left, right, on='key')

# Gouping

In [ ]:
df = pd.DataFrame({'A':['foo','bar','foo','bar',
                        'foo','bar','foo','foo'],
                   'B':['one','one','two','three',
                        'two','two','one','three'],
                   'C':np.random.randn(8),
                   'D':np.random.randn(8)})
df

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A','B']).sum()

# Reshaping

In [ ]:
tuples = list(zip(*[['bar','bar','baz','baz',
                     'foo','foo','qux','qux'],
                    ['one','two','one','two',
                     'one','two','one','two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first','second']) # Hierarchical Indexing
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A','B'])
df2 = df[:4]
df2

* (참고) `*`character is the unpacking operator
    * `zip([1,2,3],[4,5,6])` 와 `zip(*[[1,2,3],[4,5,6]])` 의 결과가 같다

In [ ]:
list(zip([1,2,3],[4,5,6]))

In [ ]:
list(zip(*[[1,2,3],[4,5,6]]))

In [ ]:
stacked = df2.stack() # Compresses a level in the DataFrame's columns
stacked

In [ ]:
stacked.unstack() # Default unstacks the last level

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

In [ ]:
df = pd.DataFrame({'A':['one','one','two','three']*3,
                   'B':['A','B','C']*4,
                   'C':['foo','foo','foo','bar','bar','bar']*2,
                   'D':np.random.randn(12),
                   'E':np.random.randn(12)})
df

In [ ]:
pd.pivot_table(df, values='D', index=['A','B'], columns=['C'])

# Time series

In [ ]:
rng = pd.date_range('1/1/2012',periods=100,freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum() # Converting secondly data into 5-minutely data

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_utc.tz_convert('US/Eastern')

In [ ]:
ts_utc.tz_convert('Asia/Seoul')

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period() # Converting between span representations
ps

In [ ]:
ps.to_timestamp()

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-OCT')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.head()

In [ ]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

* (참고) `prng.asfreq('M', 'e')` 와 `prng.asfreq('M', 'end')` 는 같다
* 마찬가지로 `'s'` 는 `'start'` 로 쓸 수 있다

In [ ]:
(prng.asfreq('M', 'end')+1).asfreq('H', 'start')+9

# Categoricals

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6],
                   "raw_grade":['a','b','b','a','a','e']})
df["grade"] = df["raw_grade"].astype("category") # Convert the raw grades to a categorical data type
df

In [ ]:
df["raw_grade"]

In [ ]:
df["grade"]

In [ ]:
# Rename the categories to more meaningful names
df["grade"].cat.categories = ["very good", "good", "very bad"]
# Reorder the categories and simultaneously add the missing categories
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium",
                                              "good", "very good"])
df["grade"]

In [ ]:
df.sort_values(by="grade") # 어휘가 아니라 범주 순서대로 정렬됨

In [ ]:
df.groupby("grade").size()

# Plotting

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.close('all') # 전체 그림 닫기

In [ ]:
ts = pd.Series(np.random.randn(1000),
               index=pd.date_range('1/1/2000', periods=1000))
ts

In [ ]:
ts = ts.cumsum()
ts

In [ ]:
ts.plot()

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A','B','C','D'])
df = df.cumsum()
plt.figure() # Figure 객체 만들기

In [ ]:
df.plot()
plt.legend(loc='best') # 나머지 9가지 위치 중에 가장 그래프와 덜 겹치는 곳에 위치하기

# Getting data in/out

In [ ]:
df.to_csv('foo.csv') # Writing to a csv file

In [ ]:
pd.read_csv('foo.csv') # Reading from a csv file

In [ ]:
df.to_hdf('foo.h5', 'df') # Writing to a HDFS Store

In [ ]:
pd.read_hdf('foo.h5', 'df') # Reading from a HDFS Store

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [ ]:
pd.read_excel('foo.xlsx','Sheet1',index_col=None, na_values=['NA'])